*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh', sans-serif;
    /* background-color: hsl(25, 100%, 94%); */
}
.main{
    /* z-index: -1; */
    position: relative;
}
header {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.headings{
    background: transparent;
    width: 100%;
    /* margin: 10px auto; */
    display: flex;
    justify-content: space-between;
    /* gap: 11rem; */
    
    /* border-bottom: 1px solid rgb(136, 131, 131); */
}
.headings > .fa-bars {
    display: none;
}
.hline {
    width: 100%;
    /* margin: -20px auto 0px auto; */
    /* outline: 0; */
    /* border: none; */
}
.nav1{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    /* margin: 10px; */
    /* gap: 2.5rem; */
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
    list-style-type: none;
}
ul > li > a{
    text-decoration: none;
    margin: 0;
    display: inline-block;
    padding: 20px 25px;
    border: 3px solid transparent;
    /* border-top: 4px solid transparent; */
    color: hsl(219, 9%, 45%);
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    /* gap: 2rem; */
    /* margin: 10px; */
}
.carto{
    /* position: relative; */
    width: 25px;
    /* margin: 20px; */
    
}
.nav2 > .carto > img{
    width: 100%;
}
.nav2 > .avatar > img{
    width: 100%;
}
 .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid hsl(26, 100%, 55%)
}

.logo > img{
    width: 100%;
}
.logo{
    width: 120px;
    display: flex;
    align-items: center;
    /* margin: auto; */
}
/* .contuga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65em;
} */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    width: 80%;
    margin: auto;
}
.image_cont{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* margin: auto; */
}

.details_cont{
    width: 50%;
    /* margin: auto; */
}
.image-container{
    width: 100%;
    margin: auto;
}
.image-container > img{
    width: 100%;
    border-radius: 1rem;
}
.image_grid{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px auto;
}
.image_grid > .image_lum{
    width: 22%;
    /* margin: auto; */
    border-radius: 0.5rem;
}

.image_lum > img{
    /* width: 100%; */
    /* border-radius: 0.5rem; */
    
}
.f_text{
    font-size: 16px;
    color: hsl(26, 100%, 55%);
    /* margin: 10px; */
    /* margin: -70px auto 30px auto; */
}
.main_h{
    font-size: 40px;
    /* width: 75%; */
    font-weight: 700;
    /* margin: 10px; */
}
.item_desc{
    margin: 20px 0px;
    /* width: 75%; */
    color: hsl(219, 9%, 45%);
    /* margin: 25px 10px; */
}
.amount{
    display: flex;
    justify-content: space-between;
    width: 20%;
    gap: 1rem;
    /* margin: 10px; */
}
.amount > .amt_2{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
}
.cancel{
    margin: 20px 0px;
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
    /* margin: 10px; */
}
.but_cont{
    display: flex;
    /* gap: 2rem; */
    /* margin: 10px; */
    width: 100%;
    margin: 10px 0px;
    justify-content: space-between;
    align-items: center;
}
.but1{
    display: flex;
    background-color:  hsl(223, 64%, 98%);
    width: 20%;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 30px; */
    padding: 11px;
    border-radius: 0.5rem;
}

.but1 > .menusi{
    padding-bottom: 5px;
    user-select: none; 
   
}
.but1 > .menusi:hover{
    cursor: pointer;
}
.plusi > img{
    user-select: none; 
}
.but1 > .plusi:hover{
    cursor: pointer;
}
.but2{
   width: 70%;
}
.kart{
    width: 10%;
    /* color: hsl(0, 0%, 100%); */
}
.but2 > button{
    /* margin: 17px auto auto 15px; */
    padding: 15px 40px;
    border-radius: 0.5rem;
    /* outline: none; */
    border: 0;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
}
.but2 > button:hover{
    cursor: pointer;
    box-shadow: 1px 30px 8px -10px hsl(25, 100%, 94%);
    background-color: hsla(26, 100%, 55%, 0.717)
    
}
button{
    padding: 10px 70px;
    margin: 10px;
    border-radius: 0.5rem;
    /* outline: none; */
    border: 0;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
}
button:hover{
    cursor: pointer;
    /* box-shadow: 1px 30px 8px -10px hsl(25, 100%, 94%); */
    background-color: hsla(26, 100%, 55%, 0.717)
    
}
button:active{
    background-color: hsla(26, 100%, 55%, 0.717); 
}

.image_lum:hover{
    /* background-color: hsla(26, 100%, 55%, 0.717); */
    opacity: 0.8;
    cursor: pointer;
}
.item{
    display: none;
}
.item.active{
    display: block;
    width: 100%;
}
.image_lum.active{
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.4;
    /* border-radius: 0.5rem; */

}
ul > li > a:hover{
    border-bottom: 3px solid hsl(26, 100%, 55%);
    cursor: pointer;   
    
}
.p_circle.active{
    position: absolute;
    display: flex;
    top: 3%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}
.carnt{
    position: absolute;
    right: 0px;
    width: 30%;
    top: 10%;
}
.cart_card{
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    width: 90%;
    border-radius: 10px;
    justify-content: space-around;
    background-color: white;
    display: none;
    
}
.cart_card > hr{
    width: 100%;
}
.cart_card > .cart_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 0.4rem;
}
.cart_card > .cart_items > .two{
    width: 20%;
    border-radius: 0.3rem;
}
.cart_card > .cart_items > .cart_text{
    display: flex;
    flex-direction: column;
}
.cart_card > .cart_items > .cart_text > .cart_figure{
    display: flex;
    font-size: 15px;
}

h6{
    margin: 20px 10px;
}
.cart_title{
    font-size: 15px;
    color: hsl(220, 14%, 75%);
}
.carter:hover{
    cursor: pointer;
}
.ruga{
    /* display: none; */
}
.lightbox_container{
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.886);
    width: 100vw;
    height: 100vh;
    /* top: 0;
    left: 0; */
    z-index: 9;
    overflow: hidden;
    display: none;
    
}

.light_box{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* padding-top: 50px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* margin: auto; */
}

.light_box > .image_cont{
    width: 50%;
}


.itema > img{
    width: 100%;
    border-radius: 1rem;
}

.itema{
        width: 60%;
        display: none;
        
}
.itema.active{
        
        margin: auto;
        display: block;
}


.light_box > .image_grid{
        display: flex;
        justify-content: space-around;
        width: 22%;
        margin: 10px auto;
}
.image_luma{
        width: 20%;
        margin: auto;
        border: 2px solid transparent;
        border-radius: 0.5rem;
        opacity: 0.5;
} 
        

.image_luma:hover{
    opacity: 1;
    cursor: pointer;
}
.image_luma.active{
    border: 2px solid hsl(26, 100%, 55%);
    
    
}

.close{
    position: absolute;
    color: hsl(26, 100%, 55%);
    font-size: 30px;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 37%;
    z-index: 99999;
}
.btn-container {
    position: absolute;
    width: 33%;
    margin: auto;
    top: 40%   ;
    bottom: 0;
    right: 0;
    left: 0;
    
}
.previous{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.previous > img{
    width: 30%;
    margin: 3px 10px;
}
.next{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    right: 0;
    /* right: 427px;
    top: 225px; */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next > img {
    width: 30%;
    margin: 4px 13px;
}
.amount_cont{
    display: flex;
    flex-direction: column;
}


.klose{
    display: none;
}

.btn-container1{
    /* position: absolute; */
    display: none;
}
.empty{
    display: none;
    justify-content: center;
    align-items: center;
    
}
.empty > p{
    margin: auto;
    padding: 40px;
    font-size: 15px
}

@media only screen and (max-width: 1066px)  {
    .carnt{
        top: 11%;
    }
}

@media only screen and (max-width: 900px)  {
    header {
        width: 90%;
    }
    .f_text{
        margin-top: 60px;
    }
    .details_cont{
        padding-top: 20px;
    }
   
} 

@media only screen and (max-width: 854px)  {
    /* .lightbox_container{
        display: none;
    } */
    .but2 > button{
        padding: 15px 15px;
    }
    .but1{
        padding: 11px 5px;
        width: 25%;
    }
    header {
        width: 90%;
    }
    .nav1{
        width: 84%;
    }
    .container{
        width: 92%;
    }
}


@media only screen and (max-width: 795px)  {
    .headings{
        padding: 10px;
    }
    .nav1{
        width: 65%;
    }
    .nav2{
        width: 20%;
    }
    .container{
        padding-top: 0px;
    }
    /* ul{
        display: none;
    } */
    .headings > .fa-bars{
        display: flex;
        align-items: center;
    }
    .hline{
        display: none;
    }
    .container{
        flex-direction: column;
        width: 100vw;
    }
    .image_cont{
        width: 100%;
        /* border-radius: 0%; */
    }
    .image-container > img{
        border-radius: 0rem;
    }
    .image_grid{
        display: none;
    }
    .details_cont{
        width: 90%;
    }
    .main_h{
        width: 75%;
    }
    .item_desc{
        width: 100%;
    }
    .amount_cont{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .cancel{
        display: flex;
        align-items: center;
        margin: 0px 20px;
    }
    .but_cont{
        flex-direction: column;
        width: 100%;
    }
    .but1{
        width: 100%;
    }
    .but2{
        width: 100%;
    }
    .but2 > button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px auto;
    }
    .kart{
        width: 5%;
    }

    ul {
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        height: 100vh;
        left: 0;
        justify-content: center;
        align-items: flex-start;
        display: none;
    } 
    .carnt{
        width: 100%;
        top: 7%;
    }
    .cart_card{
        width: 97%;
        margin: 0px auto;
        left: 0;
        right: 0;
    }
    
    .klose{
      
        position: absolute;
        top: 0;
        left: 0;
        
    }
    .klose > .close{
        position: absolute;
        left: 0;
        color: black;
        margin-left: 20px;
        z-index: 999999999999999999999;
    }
    .btn-container1{
        display: block;
        position: absolute;
        width: 100%;
        top: 30%;
    }
    .p_circle.active{
        top: 1%;
    }
    
  
}

@media only screen and (max-width: 550px)  {
    .main_h{
        width: 100%;
        font-size: 30px;
    }
}

@media only screen and (max-width: 445px)  {
    .nav1{
        width: 60%;
    }
    .nav2{
        width: 25%;
    }
    .carnt{
        top: 8%;
    }
}

